@page
@using Entity
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* @section Scripts{
    <script type="text/javascript" src="~/js/point-getter.js"></script>
} *@

<div class="text-center">
    <form method="POST">
        <input type="number" placeholder="X coords" id="xCoord" name="xCoord">
        <input type="number" placeholder="Y coords" id="yCoord" name="yCoord">
        <input type="number" placeholder="Radius" id="radius" name="radius">
        <select name="color" id="color">
            <option value="red" selected>Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select>
        <div id="comments">
            <a href="#" id="addComment" onclick="addComment()">Добавить комментарий</a>
            <input type="text" id="comments" asp-for="Point.Comments[0]">
            <div />
        </div>
        <button type="submit">Create</button>
    </form>    
</div>
<div>
    @if (Model.Points != null)
    {
        @foreach (Point point in Model.Points)
        {
                <span> 
                    @(point.Comments == null ? point.XCoord : point.Comments[0].Length.ToString())
                <button onclick='newCircle(@point.XCoord, @point.YCoord, @point.Radius, "@point.Color")'>CLICK</button>
                </span>
        }
        <div id="container"></div>
    }
    else
    {
        <div>Создайте новую точку</div>
    }
</div>
